body{
height: 100%;
font-family: 'Noto Serif', serif;
}

#login {
    background-image: url('../img/loginBackground.jpg');
    background-size: cover;
    margin: auto;
}
#informacion {
    background-image: url('../img/InfoBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: 10%;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,51,78,0.9);
}


.card-header h3{
color: #e8e8e8;
text-align: center;
}

.input-group-prepend span{
width: 50px;
background-color: #5588a3;
color: black;
border:0;
}

.login_btn{
color: #e8e8e8;
background-color: #5588a3;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: #145374;
}

.card-body {
    margin-top: 12%;
}

.navbar-color {
    background-color: #00334e;
    border-radius: 1em;
    margin-bottom:3%;
	
}

.bar-design {
    margin: 10px;
    border-radius: 1px;
} 

.jumbotron{
    background-color: #e8e8e8;
    color:#00334e;
    padding: 0;
}

.navbar-item {
    color:#e8e8e8 !important; 
}

.navbar-item:hover {
    color:white !important; 
}

h3 {
    margin:3%;
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-size: 180%;
}

h4 {
    font-family: 'PT Sans', sans-serif;
    text-indent: 3em;
    font-size: 120%;
    
}

.columna {
    color: black;
    text-align: center;
    border: gainsboro 2px solid;
}
.thead-color {
   background-color: #5588a3; 
}


.elemento{
    background-color: rgb(232, 232, 232, .7);
    padding: 3%;

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }
      