
#principal{
    background-image: url("../img/shapes.jpg");
    background-size:cover;
    height: 100%;
}

.main{
    background-color:rgba(102, 94, 94, 0.822); /* rgbA */
    margin: 10%;
    margin-top: 2%;
    padding: 1%;
    padding-top: 5%;
    text-align: center;
    

}

.figura {
    text-align: center;
    font-size: 100%;
    font-family:'Arial';
    margin: 10%;
    margin-top: 0%;
    line-height: 70%;
    padding: 1%;
    margin-bottom: 10%;

}

#piramide{
    background-color:rgba(205, 216, 247, 0.822); /* rgbA */
    display: none;
}

#rombo {
    background-color:rgba(238, 59, 83, 0.822); /* rgbA */
    display: none;
}

h1{
    text-align: center;
    color:white;
    font-family: fantasy;

}

.btn {
    margin: 5% auto 5%;
    display: block;
    background-color: #B8E3F1;
   /* #005A89 */
    padding: 1.5%;
    border-radius: 15px;
    border-color: #005A89;
    font-family: fantasy;
}

.btn:hover{
    background-color: #005A89;
    border-color: #B8E3F1;
    color: white;
}
